Flask
flask-cors
gunicorn
librosa
numpy
soundfile
audioread
scipy
numba
scikit-learn
joblib
pooch
decorator
packaging
lazy_loader
soxr
typing_extensions
msgpack
cffi
pycparser
jinja2
werkzeug
itsdangerous
click
blinker
markupsafe